
body{
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    justify-content: center;
    padding-top: 50px;
}
.mytable{
    width: 60%;
    border-collapse: collapse;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    justify-content: center;
}
.mytable caption{
    caption-side:top;
    padding:10px;
    color:#333;
    font-weight:bold;
    font-size:20px;
}
.mytable th{
    background-color: #4f46e5;
    color: white;
    padding: 12px;
    text-transform: uppercase;
}
.mytable td{
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}
.mytable tr:nth-child(even){
    background-color: #e4dfdf;
    padding:6px;
}
.mytable tr:hover{
    background-color: #e0e7ff;
    cursor: pointer;
}
